.cart, .checkout {
    padding: 50px;
    max-width: 600px;
    margin: auto;
}

.cart ul {
    list-style: none;
    padding: 0;
}

.cart li {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.cart button {
    background: red;
    color: white;
    border: none;
    padding: 5px 10px;
}

.pay-btn {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 25px;
    background: #e91e63;
    color: white;
    text-decoration: none;
    border-radius: 20px;
}

.checkout form {
    display: flex;
    flex-direction: column;
}

.checkout input {
    padding: 10px;
    margin: 10px 0;
}

.checkout button {
    padding: 12px;
    background: green;
    color: white;
    border: none;
}
